* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

/* body */
body {
  display: grid;
  grid-template-areas: 1fr auto 1fr; }
  body .navbar {
    background: linear-gradient(to top, yellow, white, red); }
    body .navbar .navbar-nav:hover {
      transform: translate(10px, 5px); }
  body h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 700;
    color: red;
    text-align: center; }

/* tarjetas */
.tarjetas {
  margin: 50px;
  padding: 20px;
  text-align: center; }

/* contenedor*/
.contenedor {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  justify-content: space-around; }
  .contenedor .card {
    margin-top: 20px; }
    .contenedor .card:hover {
      transform: scale(1.2, 1.2); }
  .contenedor .container {
    margin-top: 30px; }

/* contacto*/
.contacto {
  margin-left: 15px;
  font-size: 15px;
  margin-top: 10px; }

/*mapa*/
.mapa {
  margin-top: 40px; }

/*footer*/
footer {
  margin-top: 30px;
  font-size: 24px;
  color: black;
  text-align: center;
  padding: 30px; }

/*mediaQ*/
@media screen and (min-width: 768px) {
  .contenedor {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    justify-content: space-evenly; } }
